<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

        <gazebo>
                <plugin
                        filename="gz-sim-diff-drive-system"
                        name="gz::sim::systems::DiffDrive">
                        <left_joint>left_wheel_joint</left_joint>
                        <right_joint>right_wheel_joint</right_joint>
                        <wheel_separation>0.3</wheel_separation>
                        <wheel_radius>0.035</wheel_radius>
                        <odom_publish_frequency>30</odom_publish_frequency>
                        <topic>cmd_vel</topic>

                        <odom_topic>odom</odom_topic> 
                        <frame_id>odom</frame_id>
                        <child_frame_id>base_link</child_frame_id> 

                        <tf_topic>tf</tf_topic> 
                </plugin>

                <!-- Stop -->
                <plugin name='gz::sim::systems::TriggeredPublisher' filename='gz-sim-triggered-publisher-system'>
                        <input type='gz.msgs.Int32' topic='/keyboard/keypress'>
                                <match field='data'>88</match>
                        </input>
                        <output type='gz.msgs.Twist' topic='/cmd_vel'>linear: {x: 0.0}, angular: {z: 0.0}</output>
                </plugin>

                <!-- Moving Left-->
                <plugin filename="gz-sim-triggered-publisher-system"
                        name="gz::sim::systems::TriggeredPublisher">
                        <input type="gz.msgs.Int32" topic="/keyboard/keypress">
                                <match field="data">16777234</match>
                        </input>
                        <output type="gz.msgs.Twist" topic="/cmd_vel">
                                linear: {x: 0.0}, angular: {z: 0.5}
                        </output>
                </plugin>

                <!-- Moving Forward-->
                <plugin filename="gz-sim-triggered-publisher-system"
                        name="gz::sim::systems::TriggeredPublisher">
                        <input type="gz.msgs.Int32" topic="/keyboard/keypress">
                                <match field="data">16777235</match>
                        </input>
                        <output type="gz.msgs.Twist" topic="/cmd_vel">
                                linear: {x: 0.5}, angular: {z: 0.0}
                        </output>
                </plugin>

                <!-- Moving Right-->
                <plugin filename="gz-sim-triggered-publisher-system"
                        name="gz::sim::systems::TriggeredPublisher">
                        <input type="gz.msgs.Int32" topic="/keyboard/keypress">
                                <match field="data">16777236</match>
                        </input>
                        <output type="gz.msgs.Twist" topic="/cmd_vel">
                                linear: {x: 0.0}, angular: {z: -0.5}
                        </output>
                </plugin>

                <!-- Moving Backward-->
                <plugin filename="gz-sim-triggered-publisher-system"
                        name="gz::sim::systems::TriggeredPublisher">
                        <input type="gz.msgs.Int32" topic="/keyboard/keypress">
                                <match field="data">16777237</match>
                        </input>
                        <output type="gz.msgs.Twist" topic="/cmd_vel">
                                linear: {x: -0.5}, angular: {z: 0.0}
                        </output>
                </plugin>

                <plugin
                filename="ignition-gazebo-joint-state-publisher-system"
                name="ignition::gazebo::systems::JointStatePublisher">
                        <topic>joint_states</topic>
                        <joint_name>left_wheel_joint</joint_name>
                        <joint_name>right_wheel_joint</joint_name>
                        
                </plugin>
        </gazebo>
</robot>